<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>RegisteredUsers</web-resource-name>
  		<url-pattern>/jsp/security.jsp</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>admin</role-name>
  		<role-name>normaluser</role-name>
  	</auth-constraint>
  </security-constraint>
  <login-config>
  	<auth-method>BASIC</auth-method>
  	<realm-name>RegisteredUsers</realm-name>
  </login-config>
  <security-role>
  	<role-name>admin</role-name>
  </security-role>
  <security-role>
  	<role-name>normaluser</role-name>
  </security-role>
  <servlet>
  	<servlet-name>ajax</servlet-name>
  	<servlet-class>cn.home.wjl.Ajax.ajax</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ajax</servlet-name>
  	<url-pattern>/jsp/ajax</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>data</servlet-name>
  	<servlet-class>cn.home.wjl.Ajax.ajaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>data</servlet-name>
  	<url-pattern>/jsp/ajaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CheckServlet</servlet-name>
  	<servlet-class>cn.home.wjl.Ajax.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CheckServlet</servlet-name>
  	<url-pattern>/jsp/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>InsertServlet</servlet-name>
  	<servlet-class>cn.home.wjl.Ajax.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InsertServlet</servlet-name>
  	<url-pattern>/jsp/InsertServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>CheckServlet2</servlet-name>
  	<servlet-class>cn.home.wjl.Ajax.CheckServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CheckServlet2</servlet-name>
  	<url-pattern>/jsp/CheckServlet2</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>CheckServlet1</servlet-name>
  	<servlet-class>cn.home.wjl.Ajax.CheckServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CheckServlet1</servlet-name>
  	<url-pattern>/jsp/CheckServlet1</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>registerServlet</servlet-name>
  	<servlet-class>cn.home.wjl.Ajax.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>registerServlet</servlet-name>
  	<url-pattern>/jsp/registerServlet</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>backend</servlet-name>
  	<servlet-class>cn.home.wjl.Ajax.backend</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>backend</servlet-name>
  	<url-pattern>/jsp/backend</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>InsertServlet2</servlet-name>
  	<servlet-class>cn.home.wjl.Ajax.InsertServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InsertServlet2</servlet-name>
  	<url-pattern>/jsp/InsertServlet2</url-pattern>
  </servlet-mapping>
</web-app>
